# FTP Server Configuration
FTP_USER=admin
FTP_PASS=admin123
FTP_PORT=21
FTP_PASV_URL=127.0.0.1
FTP_PASV_MIN=30000
FTP_PASV_MAX=30005

# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vfs_link?schema=public"

# Google Cloud Storage Configuration
GCS_BUCKET=your-bucket-name
GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json
